

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-design:before {
	content: "\e800";
}
.icon-development:before {
	content: "\e801";
}
.icon-logo:before {
	content: "\e802";
}
.icon-logo-dark:before {
	content: "\e803";
}
.icon-management:before {
	content: "\e804";
}
